*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.bg-img {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(27, 27, 27, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  width: 60%;
  margin: auto;
}

.main-header {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
}

.main-header-text {
  margin-left: auto;
  font-size: 18px;
  letter-spacing: 13px;
  color: #ffffff;
  font-weight: normal;
}

.main-header-phone {
  margin-left: auto;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.promo {
  padding-top: 105px;
  height: 100vh;
}

.promo-description {
  position: relative;
  z-index: 2;
}

.promo-title {
  width: 100%;
  margin: 50px 0 0 -5px;
  font-family: "Caveat Brush", cursive;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 180px;
  line-height: 90px;
  letter-spacing: 9px;
  color: #f51d1d;
}

.promo-subtitle {
  font-family: "Core Sans E", "Arial", sans-serif;
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 3px;
  color: #ffffff;
  margin-left: 10px;
}

.day-wrapper {
  display: flex;
  margin-bottom: 65px;
}

.day-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  width: 205px;
  padding: 0;
  margin: 35px 30px 0 10px;
  background-position: left center;
  background-repeat: no-repeat;
}

.day-item {
  width: 36px;
  height: 36px;
  margin-right: 46px;
  font-weight: 900;
  font-size: 14.4px;
  line-height: 36px;
  color: #f5f2ed;
  text-transform: uppercase;
  text-align: center;
}

.day-item:nth-child(3n) {
  margin-right: 0;
}

.promo-text {
  width: 120px;
  margin: 40px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: #ffffff;
}

.button {
  display: inline-block;
  min-width: 205px;
  padding: 20px 10px 30px;
  font-family: inherit;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-image: url("img/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.summary {
  padding-top: 150px;
  z-index: 1;
  background-color: white;
  padding-bottom: 80px;
}

.section-title {
  margin: 20px 0;
  color: #ff0000;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.summary-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 33px 0 0 0;
  margin: 20px 0 0 0;
  background-image: url("img/map.png");
  background-position: top left 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.summary-item {
  display: flex;
  width: 60%;
  align-items: center;
  color: #4c4c4c;
}

.summary-item:nth-child(2n) {
  align-self: flex-end;
}

.summary-item:not(:first-child) {
  margin-top: -150px;
}

.summary-item-wrapper {
  width: 50%;
  margin-bottom: 80px;
}

.summary-item::before {
  content: "";
  width: 400px;
  height: 400px;

  background-image: url("img/photo1.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

.summary-item:nth-child(2)::before {
  background-image: url("img/photo2.png");
}

.summary-item:nth-child(3)::before {
  background-image: url("img/photo3.png");
}

.summary-item:nth-child(4)::before {
  background-image: url("img/photo4.png");
}

.summary-item-title {
  margin: 0 0 15px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.summary-item-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.features {
  padding-top: 198px;
  position: relative;
  background-image: url("img/bg-dark.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}
.features-section {
  z-index: 1;
  position: relative;
}

.features-wrapper {
  display: flex;
}

.features-border {
  background: url("./img/blood-border.png") top center no-repeat;
  background-size: cover;
}

.features-in-program-title {
  margin: 0;
  padding: 115px 65px 140px 23px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.features-not-in-program-title {
  margin: 0;
  padding: 100px 44px 205px 157px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.features-in-program-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-in-program-item {
  padding-top: 130px;
  width: 220px;
}

.features-not-in-program-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-not-in-program-item {
  padding: 103px 5px 20px 0;
  width: 350px;
}

.features-item-title {
  margin: 0 0 15px 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.features-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
}

.knowledges {
  padding-top: 153px;
}

.knowledges-list {
  display: flex;
  flex-direction: column;
  padding: 33px 0 0 0;
  margin: 0 0 60px 0;

  list-style: none;
  counter-reset: knowledgeslist;
}

.knowledges-item {
  display: flex;
  width: 530px;
  padding: 0 40px 0 0;
  min-height: 135px;
}

.knowledges-item:nth-child(2n) {
  align-self: flex-end;
  margin-top: -29px;
}

.knowledges-item-wrapper {
  margin-left: 35px;
}

.knowledges-item::before {
  counter-increment: knowledgeslist;
  content: "0" counter(knowledgeslist);

  font-family: "Caveat Brush", cursive;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 205px;
  line-height: 160px;
}

.knowledges-accessory-title {
  width: 100%;
  margin: 0 auto 72px auto;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  letter-spacing: 1.8px;
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
}

.knowledges-accessory-list {
  display: flex;
  padding: 0;
  list-style: none;
  background-image: url("img/bg-accessory.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.knowledges-accessory-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 13px 0 20px 10px;
  margin-right: 45px;
  margin-top: 35px;
}

.knowledges-accessory-item:last-child {
  margin-right: 0;
}

.skills {
  margin-top: 152px;
  padding-bottom: 195px;

  background-image: url("img/bg-skills.png");
  background-repeat: no-repeat;
  background-position: top 55px left;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: -40px 0 0 0;

  list-style: none;

  background-image: url("img/bg-ellips1.png");
  background-repeat: no-repeat;
  background-position: top right 335px;
}

.skills-item {
  width: 235px;
  padding: 60px 20px 35px 65px;
  margin-right: 260px;
}

.skills-item:nth-child(2) {
  margin-right: 140px;
}

.skills-item:nth-child(3) {
  margin-right: 65px;
}

.skills-item:nth-child(4) {
  margin-right: 27px;
}

.skills-item:last-child {
  margin-right: 20px;
}

.program {
  padding-bottom: 150px;
}

.program-container {
  padding: 80px 0;
  background-image: url("img/bg-program.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.program-button-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 0;
}

.program-label {
  margin: 15px 55px 0 25px;
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
  font-size: 87px;
  letter-spacing: 4.5px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ff0000;
}

.program-list {
  display: flex;
  flex-direction: column;
  margin: 0;

  list-style: none;
  counter-reset: programlist;
}

.program-item {
  padding: 0 20px 25px 50px;
}

.program-item::before {
  margin-right: 10px;
  counter-increment: programlist;
  content: "0" counter(programlist);
  font-family: "Caveat Brush", cursive;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 16px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 10vw);
  grid-gap: 15px;
}
.gallery-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery-item-2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery-item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.gallery-item-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}
.gallery-item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.main-footer {
  display: flex;
  align-items: center;
  padding-bottom: 65px;
  padding-top: 90px;
}

.copyright {
  margin-left: 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #3c313b;
}

.policy {
  margin-left: 255px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #3c313b;
}

.main-footer-phone {
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #3c313b;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .main-header img {
    height: 70px;
  }

  .container {
    width: 80%;
  }

  .promo-title {
    font-size: 120px;
  }

  .summary-item-wrapper {
    width: 100%;
  }

  .promo-subtitle {
    font-size: 48px;
  }

  .main-header-text {
    font-size: 14px;
  }
  .main-header-phone {
    font-size: 18px;
  }
  .section-title {
    font-size: 48px;
  }
  .summary-list {
    background-position: top;
  }
  .bg-img {
    background-position: center;
  }
  .features-not-in-program-title {
    padding-left: 30px;
  }
  .features-not-in-program-item {
    width: 250px;
  }
  .knowledges-item {
    padding-right: 0;
  }
  .knowledges-item::before {
    font-size: 120px;
  }
  .knowledges-accessory-item:last-child {
    margin-left: auto;
  }

  .skills {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: bottom left -94px;
  }
  .skills-list {
    background-position: top right 220px;
  }
  .skills-item {
    margin-right: 120px;
    padding: 40px 20px;
  }
  .skills-item:nth-child(2) {
    margin-right: 60px;
  }
  .skills-item:nth-child(3) {
    margin-right: 20px;
  }
  .skills-item:nth-child(4) {
    margin-right: 0;
  }
  .skills-item:last-child {
    margin-right: -15px;
  }
  .program-list {
    flex-wrap: nowrap;
  }
  .program-container {
    padding-top: 65px;
  }
  .program-label {
    font-size: 55px;
    line-height: 0;
  }
  .main-footer {
    flex-direction: column;
  }
  .policy, .copyright, .main-footer-phone {
    margin: 10px 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .main-header img {
    height: 100px;
  }

  .main-header {
    flex-direction: column;
    justify-content: center;
  }

  .program-button-container {
    flex-direction: column;
  }

  .button {
    align-self: flex-end;
  }

  .program-label {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .promo-title {
    font-size: 90px;
  }

  .promo-subtitle {
    font-size: 48px;
  }

  .main-header-text {
    font-size: 14px;
    margin-left: 0;
    margin: 20px auto;
  }
  .main-header-phone {
    font-size: 18px;
    margin-left: 0;
  }
  .section-title {
    font-size: 48px;
  }
  .summary-list {
    background-size: cover;
    background-position: center;
  }
  .bg-img {
    background-position: center;
  }

  .features {
    background-position: 30%;
    padding: 200px 0;
  }

  .features-wrapper {
    flex-direction: column;
  }

  .summary-item::before {
    width: 100%;
  }

  .features-not-in-program-title,
  .features-in-program-title {
    padding: 0;
    font-size: 28px;
  }
  .summary-item-wrapper {
    width: 100%;
  }

  .features-in-program-list {
    padding-bottom: 40px;
  }

  .features-not-in-program-item {
    width: 250px;
  }

  .knowledges-item {
    width: 100%;
  }

  .knowledges-item::before {
    font-size: 120px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: bottom left -94px;
  }
  .skills-list {
    background-position: top right 220px;
  }
  .skills-item {
    margin-right: 120px;
    padding: 40px 20px;
  }
  .skills-item:nth-child(2) {
    margin-right: 60px;
  }
  .skills-item:nth-child(3) {
    margin-right: 20px;
  }
  .skills-item:nth-child(4) {
    margin-right: 0;
  }
  .skills-item:last-child {
    margin-right: -15px;
  }
  .program-list {
    flex-wrap: nowrap;
  }
  .program-container {
    padding-top: 65px;
  }
  .summary-item {
    width: 100%;
  }
  .knowledges-item {
    margin-bottom: 25px;
  }
  .knowledges-accessory-list {
    background-image: url("img/bg-accessory-vertical.png");
    flex-direction: column;
  }
  .knowledges-accessory-item {
    margin-top: 0;
    padding: 0 60px 80px 60px;
    width: 100%;
  }
  .knowledges-accessory-item:last-child {
    margin-left: 0;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
  .main-header {
    flex-direction: column;
    justify-content: center;
  }

  promo-title {
    font-size: 70px;
  }

  .main-header img {
    height: 70px;
  }
  .promo-title {
    font-size: 80px;
  }

  .promo-subtitle {
    font-size: 48px;
  }

  .main-header-text {
    font-size: 14px;
  }
  .main-header-phone {
    font-size: 18px;
  }
  .section-title {
    font-size: 48px;
  }
  .summary-list {
    background-position: top right;
  }
  .bg-img {
    background-position: center;
  }

  .features-not-in-program-list, .features-in-program-list {
    flex-direction: column;
  }

  .features-not-in-program-title,
  .features-in-program-title {
    padding-left: 0;
    font-size: 28px;
  }
  .features-not-in-program-item,.features-item-text {
    width: 100%;
  }
  .knowledges-item::before {
    font-size: 120px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: bottom left -94px;
  }
  .skills-list {
    background-position: top right 220px;
  }
  .skills-item {
    margin-right: 120px;
    padding: 40px 20px;
  }
  .skills-item:nth-child(2) {
    margin-right: 60px;
  }
  .skills-item:nth-child(3) {
    margin-right: 20px;
  }
  .skills-item:nth-child(4) {
    margin-right: 0;
  }
  .skills-item:last-child {
    margin-right: -15px;
  }
  .program-list {
    flex-wrap: nowrap;
  }
  .program-container {
    padding-top: 65px;
  }
  .program-button-container {
    padding-top: 175px;
    padding-bottom: 40px;
  }
  .knowledges-accessory-list {
    padding: 50px auto;
    background-image: url("img/bg-accessory-vertical.png");
    background-size: contain;
    flex-direction: column;
  }
  .knowledges-accessory-item {
    margin-right: 0;
    padding-left: 20px;
    width: 100%;
  }
  .knowledges-accessory-item:last-child {
    margin-left: 0;
  }
}
